
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}


body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}


.header {
  padding: 24px 16px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.logo-accent {
  color: #4d5ae5;
}

.nav-list {
  margin-top: 16px;
}

.nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
  margin-top: 16px;
}

.contact-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
}


a:hover,
a:focus {
  color: #404bbf;
}


.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  text-align: center;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-btn {
  margin-top: 48px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

.features {
  padding: 120px 16px;
}

.features-item {
  margin-bottom: 24px;
}


.team {
  background-color: #f4f4fd;
  padding: 120px 16px;
}

.team-card {
  background-color: #ffffff;
  margin-bottom: 24px;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 16px;
}

.footer-logo {
  color: #ffffff;
}

.footer-text {
  margin-top: 16px;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h2 {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

h3 {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

p {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
